
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/Reservation.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/package-info.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/ObjectFactory.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/GetAgentResponse.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/GetAgentRequest.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/GetAgentRequest.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/GetAgentResponse.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/ObjectFactory.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/package-info.java
XML-project/Agent application/src/main/java/generated/soap/com/xmlws/ftn/soap/Reservation.java
